* {
  box-sizing: border-box;
}

/* Every element with a sibling directly before it
gets a 10px margin, allowing for even spacing between
all elements. */
* + * {
  margin-top: 10px;
}

html {
  font: 100%/1.5 serif;
}

header, p {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

h1, p {
  margin: 0 0 0 0;
  font-size: 1em;
}

h4 {
  font-size: .5em;
}

button {
  display: block;

}

.start {
  border: none;
  background-color: white;
  margin: 0 auto;

  margin-top: 40px;
  padding: 30 20 30 20;
  border: 3px solid black;
}

.start:hover {
  background-color: #bbb5af;
}

.quiz-status, .outro {
  display: none;
}

.answer-item {
  list-style-type: none;
}

fieldset {
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}
/* -----------------------------------  */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

select::-webkit-select-placeholder, textarea::-webkit-select-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

select:focus::-webkit-select-placeholder, textarea:focus::-webkit-select-placeholder {
  color: #bbb5af;
}

select::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

select:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

select::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

select:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

select::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

select:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

select:hover::-webkit-select-placeholder, textarea:hover::-webkit-select-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

select:hover:focus::-webkit-select-placeholder, textarea:hover:focus::-webkit-select-placeholder {
  color: #cbc6c1;
}

select:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

select:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

select:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

select:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

select:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

select:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
  /* background: #e2dedb;
  color: #b3aca7; */

}

#form {
  position: relative;
  width: 450px;
  margin: 50px auto 100px auto;
}

select {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  width: 450px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  /* color: #726659; */
  color: black;

  border: solid 2px black;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

select:hover {
  background: #b3aca7;
  color: #e2dedb;

  /* ------------------------- SELECT -------------------------------- */
}
#name::-webkit-#name-placeholder {
  /* color: #aca49c; */
  color: black;
  font-size: 2em;
}

#name:focus::-webkit-#name-placeholder {
  color: #bbb5af;
}

#name::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

#name:focus::-moz-placeholder {
  color: #bbb5af;
}

#name::placeholder {
  /* color: #aca49c; */
  color: black;
  font-size: 0.875em;
}

#name:focus::placeholder {
  color: #bbb5af;
}

#name::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

#name:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

#name:hover::-webkit-#name-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

#name:hover:focus::-webkit-#name-placeholder {
  color: #cbc6c1;
}

#name:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

#name:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

#name:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

#name:hover:focus::placeholder {
  color: #cbc6c1;
}

#name:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

#name:hover:focus::-ms-placeholder {
  color: #cbc6c1;
}


#name {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  width: 450px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  /* color: #726659; */
  color: black;

  border: solid 2px black;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#name:hover {
  background: #b3aca7;
  color: #e2dedb;
}
